<div class="container-fluid">
  <div class="row bg-primary justify-content-center
			align-items-center" style="height:60px">
    <div class="col-3"></div>
    <div class="col-6 text-light h2">
      Todo App
    </div>
  </div>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
  <div class="row mt-1" style="height:80px;">
    <div class="col-3 d-none col-md-3 d-md-block"></div>
    <div class="col-12 col-md-6 d-flex
					justify-content-center align-items-center
					text-light h3">
        <input type="text" class="col-9 form-control" formControlName="todoTask" style="width: 250px;">
<div class="col-1"></div>
        <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i></button>
    </div>
    <div class="col-3 d-none col-md-3 d-md-block"></div>
  </div>
  </form>
  <div *ngFor="let task of tasks"
       class="row mt-1" style="height:100px;">

    <div class="col-3 d-none col-md-3 d-md-block"></div>

    <div class="col-12 col-md-6 bg-primary d-flex
					justify-content-center align-items-center
					text-light h3">

      <div class="col-9 text-light h3">{{task}}</div>

      <button (click)="onDelete(task)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    </div>

    <div class="col-3 d-none col-md-3 d-md-block"></div>
  </div>
</div>
